body {
	padding: 0;
	margin: 0;
	cursor:url('../img/hammer.png'), auto;
	background-size: cover;
	min-height: 100vh;
    padding-bottom: 100px;
    overflow-x: hidden;
}
.band-logo{
	max-height: 120px;
	margin: 60px 0px 0px 0px;
}
#drum{
	transform: scale(1.0);
    margin-top: 50px;
    margin-left: -200px;
}
.chillies{
	height: 80px;
	width: 100vw;
	background-image: url('../img/chillies.png');
	background-repeat: repeat-x;
}
.container{
	max-width: 85%;
}
.news-header{
	height: 16px;
	margin-top: 80px;
}
.news-item{
	width: 100%;
	margin: 0px 0px 25px 0px;
}
.news-scroll{
	margin-top: 25px;
height: calc(100vh - 203px);
    overflow: auto;
	padding-right: 20px;
}
.sponsors{
    height: 90px;
    margin-top: 90px;
    margin-bottom: 0px;
}